table {
    border:1px solid #761e99;
    width:80%;
    border-collapse: collapse;
    margin:auto;
    background-color: white;
}

tr {
  vertical-align:top;
}

td,th {
  border:1px dashed darkgrey;
  padding:.8em;
}

table.client {
    margin:40px auto; /* T R B L */
}

table.client th {
    text-align: left;
    width:30%;
}

table.audience th {
    margin:40px auto; /* T R B L */
}

table.audience th{
    width:33.3%;
}
ul {
    list-style-type: square;
    margin-right: 20px;
    padding: auto;
  }
  tr:hover {background-color: #f5f5f5;}